nav {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    padding: 15px;
    background: #AE84D9;
    flex: 0 1 auto;
}

nav > h1 {
    grid-column: 1/4;
    font-size: 1.8em;
}

a {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    color: #4a4a4a;
    font-weight: bold;
    border-radius: 3px;
    font-size: 1.1em;
    transition: .2s linear all;
}

a:hover {
    background: #B63BD9;
    color: #fff;
    transition: .2s linear all;
}

.active {
    background: #B63BD9;
    color: #fff;
}