h3 {
    margin-bottom: 10px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: linear-gradient(to right, #b63bd9, #fff);
}

p {
    text-transform: capitalize;
    color: #2a2a2a;
    font-weight: bold;
}

.fa {
    color: #4a4a4a;
    font-size: 1.3em;
    margin-right: 15px;
    cursor: pointer;
}