<div class="sidebar-customers-wrapper">
  <div class="sidebar">
    <a routerLink="/customers/create" href="#" style="font-weight: bold;" class="add-customer" >Add new customer</a>
    <div class="search-filter">
      <p>Search By</p>
      <div class="phone-number">
        <input
          type="radio"
          name="search-by"
          id="phone-number"
          value="phone-number"
        />
        <label for="phone-number">Phone number</label>
      </div>
      <div class="name">
        <input type="radio" name="search-by" id="name" value="name" />
        <label for="name">Name</label>
      </div>
      <div class="location">
        <input type="radio" name="search-by" id="location" value="location" />
        <label for="location">Location</label>
      </div>
    </div>
    <div class="search">
      <form>
        <input
          type="text"
          name="search"
          id="search"
          placeholder="Search customer..."
        />
        <button class="btn btn-outline-light">Search</button>
      </form>
    </div>
    <div class="status">
      <label for="status">Filter By</label>
      <select name="status">
        <option value="regular">Regular</option>
        <option value="sleeping">Sleeping</option>
      </select>
    </div>
  </div>

  <div class="customers container">
    <router-outlet></router-outlet>
  </div>
</div>
