.sidebar-customers-wrapper {
    display: flex;
    height: 100%;
}

.sidebar {
    background: #ae84d9;
    flex: 1 1;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.customers {
    flex: 1 1 80%;
}

.add-customer {
    background: #B63BD9;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.add-customer:hover {
    background: rgb(192, 105, 216);
}

.search-filter label {
    font-size: .8em;
    margin-left: 5px;
}

.search input,
.search button {
    padding: 5px;
    margin-bottom: 3px;
}

.status label {
    display: block;
    margin-bottom: 3px;
}

.status select {
    padding: 5px;
}

