.card-item {
  width: 200px;
  height: fit-content;
  padding: 15px;
  background: #ae84d9;
  margin-bottom: 30px;
  border-radius: 7px;
  box-shadow: 4px 4px 7px #5f5f5f;
  transition: .1s all linear;
}

.card-item:hover {
  box-shadow: none;
  transition: .1s all linear;
}

ul {
  list-style: none;
  padding: 5px;
  margin-bottom: 10px;
}

li {
  padding: 5px;
  color: #4a4a4a;
  text-transform: capitalize;
}

header {
  padding: 5px;
  font-size: 1.2em;
  background: #eee;
  text-align: center; 
  margin-bottom: 10px;
  text-transform: uppercase;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card-item div:last-child {
  display: flex;
  justify-content: space-between;
}

.fa {
  font-size: 1.4em;
}

.fa:hover {
  cursor: pointer;
  color: #fff;
}

p {
  width: fit-content;
  opacity: 0;
  transition: .1s all;
  padding: 5px 0;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0;
}

.card-item:hover p {
  opacity: 1;
  transition: .1s all;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  padding: 30px;
  grid-template-rows: auto;
  justify-content: center;
}