<div class="container">
  <div>
    <button>Add new Item</button>
    <button>Add new Category</button>
  </div>

  <div>
    <label for="search">Search for Item</label>
    <input type="text" name="search" id="search" placeholder="Item name">
  </div>

  <div>
    <label for="categories">Category</label>
    <select name="categories" id="categories">
      <option value="burgers" selected>Burgers</option>
      <option value="pizzas" >Pizzas</option>
      <option value="drinks" >Drinks</option>
      <option value="salads" >Salads</option>
      <option value="desserts">Desserts</option>
    </select>
  </div>
</div>
