/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  height: 100%;
}

.app-root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.app-root > *:first-child {
  flex: 0 1 auto;
}

.app-root > *:last-child {
  flex: 1 1 auto;
}